* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  margin: 0;
}
.container {
  box-sizing: border-box;
  width: 280px;
  max-width: 280px;
  overflow: hidden;
  padding: 10px 20px;
  height: 400px;
  max-height: 400px;
}
.row {
  box-sizing: border-box;
}

.position {
  position: absolute;
  /* bottom: 10px; */
  top: 10px;
  /* z-index: 100; */
}
.circle {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 1px;
}
.fa {
  font-size: 10px !important;
  visibility: hidden;
  vertical-align: top;
  padding: 1px;
  color: #212121;
}
.icons span {
  float: left;
  margin-right: 7px;
}
.circle.red-bg {
  background-color: rgb(227, 58, 16);
}
.circle.orange-bg {
  background-color: #f39100;
}
.circle.green-bg {
  background-color: rgb(103, 225, 73);
}
.icons:hover .fa {
  visibility: visible;
}
.result {
  box-sizing: border-box;
  width: 100%;
  font-size: 40px;
  height: 40px;
  text-align: right;
  border: none;
  background-color: #5f6368;
  color: #fff;
  padding: 10px;
  z-index: 100;
}

.button {
  width: 25%;
  height: 50px;
  float: left;
  margin: 0;
  color: #fff;
  border: 1px solid #494848;
  background-color: #8e918f;
  font-size: 20px;
  font-weight: 100 !important;
  cursor: pointer;
}
.gray-bg {
  background-color: #636363;
  color: #fff;
  border: 1px solid #494848;
}
input:focus {
  outline: none;
}
.operator {
  background-color: #f39100;
  color: #fff;
}
.digitzero {
  width: 50%;
}
